@{
    ViewData["Title"] = "Home Page";
}

<html>

<head>

</head>

<body>
    <div class="text-center">
        <br />
        <br />
        <br />
        <h1><b><p style="font-family: Chiller; color:orangered; font-size: 75px">Halloween Extravaganza BOOM or BUST</p></b></h1>
        

        <p style="font-family: Blackadder ITC; color:white; font-size: 35px">A list of scaries and their ratings</p>
    </div>
</body>

</html>

<style>
    
    body{
        background-image: url('/images/halloween5.jpeg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        
    }
</style>

