@model IEnumerable<Movie>

<h2>Scaries</h2>


<table class="table">
    
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Rating</th>
        <th>Year Reviewed</th>
    </tr>

    @foreach (var movie in @Model)
    {
        <tr>
            <td><a href=/Movie/ViewMovie/@movie.id_movie>@movie.id_movie</a></td>
            <td>@movie.Title</td>
            <td>@movie.Rating</td>
            <td>@movie.year_reviewed</td>
        </tr>
    }

</table>

<div style="display: block">
    <a href="/Movie/InsertMovie/" class="btn btn-danger">Add a scary</a>
</div>

<html>

<head>

</head>

<body>
    
</body>

</html>

<style>

    tr:hover {
        background-color: firebrick;
    }

    body {
        background-color: darkorange;
    }
</style>